body {
    background-color: #ccc;
}

.main_container {
    width: 368px;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid hotpink;
    background-color: #fff;
}

.image_container {
    
}