* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    min-width: 1000px;
    background-color: #910d0d;
}

.header {
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 20px;
} 

.nav_section {
    display: flex;
    background-color: #000;
    margin-left: 15px;
    margin-top: 25px;
    justify-content: center;
}

.nav_img {
    justify-content: space-around;
    margin: 15px 45px;
}

.nav_link {
    display: flex;
}

.link {
    justify-content: center;
    text-decoration: none;
    padding-left: 125px;
    font-size: 20px;
    color: white;
}

.main_conteiner {
    display: flow-root;
}

 .center_container {
    width: 1000px;
    height: 300px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
} 

.left_saidbar {
    background-color: #fff;
    float: left;
    width: 176px;
    height: 300px;
  
}

.right_saidbar {
    float: right;
    width: 300px;
    height: 300px;
} 
