body {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(47, 97, 36);
}

h1 {
    text-align: center;
    color: violet;
    
}

a {
    color: tomato;
    text-decoration: none;
    font-size: 25px;
}

section {
    text-align: center;
    color: slategray;
    font-size: 20px;
}

p {
    color: slategray;
}
